.sectionProfile {
  text-align: center;
  margin-bottom: 30px;
}

.profile {
  color: #a2adb7;
  border: 1px solid rgb(232, 236, 242);
  border-radius: 2px;
  width: 400px;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.5);
  margin: 10px auto 10px;
}

.description {
  font-size: 20px;
  font-weight: 600;
}

.avatar {
  height: 140px;
  margin: 50px 0 20px;
  border-radius: 80px;
}

.name {
  font-size: 28px;
  font-weight: 700;
  color: #394556;
  margin: 0 auto 20px;
}

.tag {
  margin: 0 auto 20px;
}

.location {
  margin: 0 auto 30px;
}

.statsUl {
  display: flex;
  justify-content: space-between;
  color: #35475a;
  margin: 0;
  padding: 0;
}

.statsLi {
  display: flex;
  flex-direction: column;
  list-style: none;
  background-color: #f3f6f9;
  border: 1px solid #eaeef3;
  padding-top: 30px;
  height: 85px;
  width: 100%;
  line-height: 1.5;
}

.label {
  color: #8c9aa8;
}

.quantity {
  font-size: 24px;
  font-weight: 700;
  color: #2f4256;
}
