.item {
  display: flex;
  align-items: center;
  width: 400px;
  height: 100px;
  margin-bottom: 10px;
  border-radius: 1px;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.5);
}

.status {
  width: 30px;
  height: 30px;
  border-radius: 20px;
  margin: auto 20px;
}

.avatar {
  border-radius: 20px;
}

.name {
  margin: auto 20px;
  font-size: 36px;
  font-weight: 600;
}

.onLine {
  composes: status;
  background-color: green;
}

.offLine {
  composes: status;
  background-color: red;
}
